<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-12-30T23:52:40Z</date>
	<key>WorkspacePath</key>
	<string>/Users/alexmayle/Documents/CS4420/ocra/ocra.xcodeproj</string>
</dict>
</plist>
